<ion-header>
    <expandable-header></expandable-header>
</ion-header>

<ion-content padding>
    <loader [loading]="loaded"></loader>

    <ion-list class="list__content" *ngIf="ranking && loaded">
        <ion-item *ngFor="let user of ranking; let i = index" text-wrap>
            <ion-icon name="trophy" item-start *ngIf="isInPodium(i)"></ion-icon>
            <div item-start *ngIf="!isInPodium(i)">{{ i + 1 }}º</div>

            <div class="list__content-title">{{ user.username }}</div>
            <div class="list__content-subtitle" item-end>XP {{ user.experience }}</div>
        </ion-item>

        <ion-item *ngIf="ranking && ranking.length == 0">
            <div class="list__content-description">Nenhum usuário no ranking</div>
        </ion-item>
    </ion-list>
</ion-content>

