<ion-header>
    <ion-navbar>
        <ion-buttons left>
            <button ion-button color="light" (click)="dismiss()">Voltar</button>
        </ion-buttons>

        <ion-title>{{ title }}</ion-title>

        <ion-buttons right>
            <button ion-button icon-only>
                <ion-icon name="checkmark"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <form [formGroup]="form" (ngSubmit)="submit()">
            <!-- Category -->
            <ion-item [class.ng-touched]="form.controls.category && !form.controls.category.untouched">
                <ion-label stacked>Categoria</ion-label>
                <ion-select formControlName="categories_id">
                    <ion-option value="{{ category.id }}" *ngFor="let category of categories">
                        {{ category.name }}
                    </ion-option>
                </ion-select>
            </ion-item>

            <p class="error" *ngIf="form.controls.category && !form.controls.category.valid && !form.controls.category.untouched">
                O campo é obrigatório.
            </p>

            <!-- Name -->
            <ion-item [class.ng-touched]="form.controls.name && !form.controls.name.untouched">
                <ion-label stacked>Nome</ion-label>
                <ion-input type="text" formControlName="name"></ion-input>
            </ion-item>

            <p class="error" *ngIf="form.controls.name && !form.controls.name.valid && !form.controls.name.untouched">
                O campo é obrigatório.
            </p>

            <!-- Price -->
            <ion-item [class.ng-touched]="form.controls.price && !form.controls.price.untouched">
                <ion-label stacked>Preço</ion-label>
                <ion-input type="text" formControlName="price" [brmasker]="{money: true, decimal: 2}"></ion-input>
            </ion-item>

            <p class="error" *ngIf="form.controls.price && !form.controls.price.valid && !form.controls.price.untouched">
                O campo é obrigatório.
            </p>

            <!-- Experiência -->
            <ion-item [class.ng-touched]="form.controls.experience && !form.controls.experience.untouched">
                <ion-label stacked>Experiência</ion-label>
                <ion-input type="number" formControlName="experience" min="0"></ion-input>
            </ion-item>

            <p class="error" *ngIf="form.controls.experience && !form.controls.experience.valid && !form.controls.experience.untouched">
                O campo é obrigatório.
            </p>
        </form>
    </ion-list>
</ion-content>
