<ion-header>
    <ion-navbar>
        <ion-buttons left>
            <button ion-button color="light" (click)="dismiss()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>

        <ion-title>Perfil</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <user-level [user]="user" layout="big"></user-level>

    <ion-list>
        <!-- Badges -->
        <ion-item class="list__container">
            <div class="list__header">
                <span>Medalhas</span>
            </div>

            <ion-list class="list__content">
                <ion-item *ngFor="let badge of profile.badges" text-wrap>
                    <div class="list__content-title">{{ badge.name }}</div>
                </ion-item>

                <ion-item *ngIf="profile.badges && profile.badges.length == 0">
                    <div class="list__content-description">Nenhuma medalha</div>
                </ion-item>
            </ion-list>
        </ion-item>

        <!-- Drops -->
        <ion-item class="list__container">
            <div class="list__header">
                <span>Recompensas</span>
            </div>

            <ion-list class="list__content">
                <ion-item *ngFor="let drop of profile.drops" text-wrap>
                    <div class="list__content-title">{{ drop.description }}</div>
                </ion-item>

                <ion-item *ngIf="profile.drops && profile.drops.length == 0">
                    <div class="list__content-description">Nenhuma recompensa</div>
                </ion-item>
            </ion-list>
        </ion-item>

        <!-- Achievements -->
        <ion-item class="list__container">
            <div class="list__header">
                <span>Conquistas</span>
            </div>

            <ion-list class="list__content">
                <ion-item *ngFor="let achievement of profile.achievements" text-wrap>
                    <div class="list__content-title">{{ achievement.name }}</div>
                    <div class="list__content-side" item-end>{{ achievement.created_at | date: 'dd/MM/yyyy' }}</div>
                </ion-item>

                <ion-item *ngIf="profile.achievements && profile.achievements.length == 0">
                    <div class="list__content-description">Nenhuma conquista</div>
                </ion-item>
            </ion-list>
        </ion-item>
    </ion-list>
</ion-content>
