<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>

        <ion-title>
            Comandas
        </ion-title>

        <ion-buttons end>
            <button ion-button icon-only (click)="goToForm()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list class="list__content">
        <ion-item *ngFor="let bill of bills" (click)="goToDetails(bill.id)">
            <div class="list__content-title">{{ bill.name }}</div>
            <div class="list__content-side" item-end>#{{ bill.number }}</div>
        </ion-item>

        <ion-item *ngIf="bills.length == 0">
            <div class="list__content-description">Nenhuma comanda ativa</div>
        </ion-item>
    </ion-list>
</ion-content>
