<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>

        <ion-title>Comandas</ion-title>

        <ion-buttons end>
            <button ion-button icon-only (click)="goToForm()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-searchbar (ionInput)="filterItems($event)" placeholder="Pesquisar por cartão"></ion-searchbar>

    <ion-list class="list__content list__content-manager">
        <ion-item *ngFor="let bill of filteredItems" (click)="goToDetails(bill.id)" text-wrap>
            <div class="list__content-title">{{ bill.name }}</div>
            <div class="list__content-side" item-end>#{{ bill.number }}</div>
        </ion-item>

        <ion-item *ngIf="filteredItems.length == 0 && loaded">
            <div class="list__content-description">Nenhuma comanda ativa</div>
        </ion-item>
    </ion-list>
</ion-content>
