<ion-header>
    <ion-navbar>
        <ion-title>{{ title }}</ion-title>

        <ion-buttons right>
            <button ion-button icon-only (click)="delete(bill.id)">
                <ion-icon name="trash"></ion-icon>
            </button>
            <button ion-button icon-only (click)="goToForm(bill.id)">
                <ion-icon name="create"></ion-icon>
            </button>
            <button ion-button icon-only (click)="goToOrderForm(bill.id)">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="container" *ngIf="bill">
        <div class="detail-container">
            <ion-grid>
                <ion-row>
                    <ion-col col-8>
                        <div class="detail-container__group">
                            <div class="detail-container__label">Cliente</div>
                            <div class="detail-container__text">{{ bill.user.name }}</div>
                        </div>
                    </ion-col>

                    <ion-col col-4>
                        <div class="detail-container__group">
                            <div class="detail-container__label">Cartão</div>
                            <div class="detail-container__text">#{{ bill.card.number }}</div>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <div class="detail-container__group">
                <ion-list>
                    <ion-item class="list__container">
                        <div class="list__header">
                            <span>Produtos</span>
                        </div>

                        <manager-product-list [products]="bill.products" layout="small"></manager-product-list>
                    </ion-item>
                </ion-list>
            </div>
        </div>

        <button ion-button color="danger" block>Fechar comanda</button>
    </div>
</ion-content>

<ion-footer *ngIf="bill">
    <ion-toolbar>
        <ion-title>
            <ion-grid>
                <ion-row justify-content-between align-items-center>
                    <ion-col>
                        Total:
                    </ion-col>
                    <ion-col>
                        <div class="total">{{ bill.total | currency:'BRL':'R$' }}</div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-title>
    </ion-toolbar>
</ion-footer>
