page-manager-bills-detail {

    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    .scroll-content {
        margin-bottom: 56px;
    }
}
