<ion-header>
    <ion-navbar>
        <ion-title>{{ title }}</ion-title>

        <ion-buttons right>
            <button ion-button icon-only (click)="delete(bill.id)">
                <ion-icon name="trash"></ion-icon>
            </button>
            <button ion-button icon-only (click)="goToForm(bill.id)">
                <ion-icon name="create"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="detail-container" *ngIf="bill">
        <ion-grid>
            <ion-row>
                <ion-col col-8>
                    <div class="detail-container__group">
                        <div class="detail-container__label">Cliente</div>
                        <div class="detail-container__text">{{ bill.user.name }}</div>
                    </div>
                </ion-col>

                <ion-col col-4>
                    <div class="detail-container__group">
                        <div class="detail-container__label">Cartão</div>
                        <div class="detail-container__text">#{{ bill.card.number }}</div>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>

        <div class="detail-container__group">
            <ion-list>
                <ion-item class="list__container">
                    <div class="list__header">
                        <span>Produtos</span>
                    </div>

                    <ion-list class="list__content list__content-small list__content-manager">
                        <ion-item *ngFor="let product of bill.products; let i = index" text-wrap
                                  (click)="showOptions(product.id, i)">
                            <div class="list__content-title">{{ product.name }}</div>
                            <div class="list__content-side" item-end>{{ product.price | currency:'BRL':'R$' }}</div>
                            <div class="list__content-side" item-end>
                                <small>X</small>
                                {{ product.quantity }}
                            </div>

                            <button ion-button type="button" clear item-end icon-only class="options-button">
                                <ion-icon name="more"></ion-icon>
                            </button>
                        </ion-item>

                        <ion-item *ngIf="bill.products.length == 0 && loaded">
                            <div class="list__content-description">Nenhum produto adicionado</div>
                        </ion-item>
                    </ion-list>
                </ion-item>
            </ion-list>
        </div>
    </div>
</ion-content>

<ion-footer *ngIf="bill">
    <ion-toolbar>
        <ion-title>
            <ion-grid>
                <ion-row justify-content-between align-items-center>
                    <ion-col>
                        Total:
                    </ion-col>
                    <ion-col>
                        <div class="total">{{ bill.total | currency:'BRL':'R$' }}</div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-title>
    </ion-toolbar>
</ion-footer>
