page-manager-bills-detail {

    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100%;

        button {
            margin: 0;
        }
    }

    .scroll-content {
        margin-bottom: 56px;
    }
}
