<ion-header>
    <ion-navbar>
        <ion-title>Comanda</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list class="list__content" *ngIf="bill">
        <ion-item *ngFor="let item of bill.products" (click)="showModal(item.product.id)">
            <div class="list__content-title">{{ item.product.name }}</div>
            <div class="list__content-description">{{ item.product.name }}</div>

            <div class="list__content-side" item-end>{{ item.product.price | currency:'BRL':'R$' }}</div>
        </ion-item>

        <ion-item *ngIf="bill.products && bill.products.length == 0">
            <div class="list__content-description">Nenhum produto adicionado</div>
        </ion-item>

        <ion-item *ngIf="!bill.products">
            <div class="list__content-description">Nenhuma comanda ativa</div>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer *ngIf="bill.products">
    <ion-toolbar>
        <ion-title>{{ total | currency:'BRL':'R$' }}</ion-title>
    </ion-toolbar>
</ion-footer>
