<ion-header>
    <ion-navbar>
        <ion-title></ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list class="list__content" *ngIf="bill">
        <ion-item *ngFor="let item of bill.products" (click)="showModal(item.id)" text-wrap>
            <div class="list__content-title">{{ item.name }}</div>
            <div class="list__content-description">{{ item.name }}</div>

            <div class="list__content-side" item-end>{{ item.price | currency:'BRL':'R$' }}</div>
            <div class="list__content-side" item-end><small>X</small>{{ item.quantity }}</div>
        </ion-item>

        <ion-item *ngIf="bill.products && bill.products.length == 0">
            <div class="list__content-description">Nenhum produto adicionado</div>
        </ion-item>

        <ion-item *ngIf="!bill.products">
            <div class="list__content-description">Nenhuma comanda ativa</div>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer *ngIf="bill.products">
    <ion-toolbar>
        <ion-title>
            <ion-grid>
                <ion-row justify-content-between align-items-center>
                    <ion-col>
                        Total:
                    </ion-col>
                    <ion-col>
                        <div class="total">{{ bill.total | currency:'BRL':'R$' }}</div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-title>
    </ion-toolbar>
</ion-footer>
