/**
 * Content
 */
ion-content {
    background-color: map-get($colors, primary) !important;
}

ion-tabs > .tabbar {
    background-color: #0e0e0f !important;

    > a {
        > .tab-button-text {
            text-transform: uppercase !important;
        }
    }
}

input[readonly],
a[disabled], button[disabled], [ion-button][disabled] {
    opacity: 0.2 !important;
}
