form {

    > ion-item {
        background-color: transparent !important;
        border-bottom: 0 !important;
        padding-left: 0 !important;

        > .item-inner {

            ion-input,
            ion-select,
            ion-textarea,
            ion-datetime {
                color: #FFF !important;
            }
        }

        &.item-input-has-focus {

            > .item-inner {
                border-bottom-color: rgba(255, 255, 255, .35) !important;
            }
        }
    }
}

// Toggle
.toggle-md.toggle-checked .toggle-inner {
    background-color: #32db64 !important;
}

.toggle-md.toggle-checked .toggle-icon {
    background-color: #496f54 !important;
}

// Select searchable
.select-searchable-value {
    color: #FFF;
}

form > ion-item,
form > ion-item > .item-inner,
.item-select-searchable,
.item-select-searchable > .item-inner {
    border-bottom-style: dashed !important;
    box-shadow: none !important;
}

.item-select-searchable {
    border: none !important;
}

    // Select searchable label
    .item-select-searchable ion-label,
    form > ion-item > .item-inner ion-label {
        color: #9e9e9e !important;
        font-size: 1.2rem;
        font-style: italic;
    }

page-login,
page-register,
page-facebook-register {

    .item-input {

        > .item-inner {
            border-bottom: 1px dashed rgba(255, 255, 255, .35) !important;
            box-shadow: none !important;
            padding: 0 !important;

            > .input-wrapper {

                > ion-label {
                    margin: 2rem 0 0;

                    > button {
                        font-style: italic;
                    }
                }
            }
        }
    }

    // Button
    ion-item:last-child > .item-inner {
        padding-right: 0 !important;

        ion-label {
            margin-right: 0;
        }
    }
}
