/**
 * List
 */
ion-list {

    &.list--margin {
        margin-top: 1.5rem;
    }

    &,
    > ion-item.item-md {
        background-color: transparent;
        color: #FFF;
    }

    > ion-item.item-md {
        padding-left: 0;
    }

    // List container
    > .list__container {
        margin-top: 3rem;

        &:first-child {
            margin-top: 2rem;
        }

        > .item-inner {
            border-bottom: 0 !important;
            padding-right: 0 !important;

            > .input-wrapper {

                > ion-label {
                    margin: 0;
                }
            }
        }
    }

    // List header
    .list__header {
        border-bottom: 1px solid #FFF;
        color: map-get($colors, primary);
        font-size: 1.2rem;
        font-style: italic;
        font-weight: 400;
        text-transform: uppercase;

        > span {
            background-color: #FFF;
            display: inline-block;
            line-height: 3rem;
            min-width: 12rem;
            padding: 0 1rem;
            text-align: center;
        }
    }

    // List content
    .list__content,
    &.list__content {
        margin: 0;

        ion-label {
            margin-bottom: 0;
            margin-top: 0;
        }

        .item-inner {
            padding: 2rem 1rem;
        }

        > ion-item {
            > .item-inner {
                border-bottom: 1px dashed #FFF !important;
            }

            .list__content-title {
                font-size: 1.6rem;
                font-weight: 600;
                line-height: 1.2;
                text-transform: uppercase;

                > .list__content-title__note {
                    font-size: 1.2rem;
                    font-weight: 400;
                    text-transform: none;
                }
            }

            .list__content-description {
                font-size: 1rem;
                font-weight: 300;
            }

            .list__content-side {
                font-size: 1.6rem;
                font-style: italic;
                font-weight: 300;
                margin-bottom: 0;
                margin-top: 0;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        // Manager
        &.list__content-manager {

            .item-inner {

                > .options-button {
                    color: #FFF;
                    margin: 0;
                }
            }

            &:not(.list__content-small) {

                > ion-item:first-child {

                    > .item-inner {
                        border-top: 1px dashed #FFF !important;
                    }
                }
            }
        }

        // Small
        &.list__content-small {

            > ion-item {

                > .item-inner {
                    padding: 1rem;

                    .list__content-title {
                        font-size: 1.4rem;
                    }

                    .list__content-side {
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }

    // Select searchable
    > .select-searchable-group {

        > .select-searchable-item {
            align-items: center;
            background-color: transparent;

            div[item-right] {
                font-size: 1.2rem;
            }

            &,
            > .icon-md-primary {
                color: #FFF;
            }
        }
    }

    > .item-divider-md {
        background-color: #19191b;
        border-bottom: 1px solid #2d2d2d;
        color: #FFF;
        font-size: 1.4rem;
        padding-left: 16px;
    }
}

// Styles
.list-md .item-input:last-child {
    border-bottom: none;
}

.item-select-searchable > .item-inner {
    border-bottom: 1px dashed #FFF !important;
}

.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: #32db64 !important;
}

// Manager list
#manager-menu.menu-enabled ~ ion-nav {

    ion-list {

        // List container
        > .list__container {

            &:first-child {
                margin-top: 0;
            }
        }
    }
}

// Searchbar
ion-searchbar {
    padding: 0 0 1.5rem !important;
}

// Searchable page
select-searchable-page {

    > ion-content {
        color: #FFF !important;

        .select-searchable-add-item-template {
            background-color: #19191b;
        }
    }
}