/**
 * Main menu
 */
.menu {

    ion-list {
        margin-bottom: 0;

        > button {
            background-color: transparent;
            color: #FFF;
            font-size: 1.4rem;
            min-height: 5rem;
            padding-right: 1.6rem;

            > .item-inner {
                border-bottom: 1px dashed #FFF !important;

                ion-label {
                    overflow: initial !important;
                }
            }
        }
    }

    &#main-menu {

        ion-list {
            display: flex;
            flex-direction: column;
            height: 100%;

            > button {

                &:last-child {
                    margin-top: auto;

                    > .item-inner {
                        border-bottom: none !important;
                        border-top: 1px dashed #FFF !important;
                    }
                }
            }
        }
    }
}
