<ion-header>
    <ion-navbar>
        <ion-buttons left>
            <button ion-button color="light" (click)="dismiss()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>

        <ion-title *ngIf="event">Evento</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card *ngIf="event" class="event">
        <img src="../assets/imgs/party.png"/>

        <ion-card-content>
            <p class="event--date">{{ event.date | date: "dd/MM/yyyy" }}</p>

            <ion-card-title class="event--title">
                {{ event.title }}
            </ion-card-title>

            <p class="event--description">{{ event.description }}</p>
        </ion-card-content>
    </ion-card>
</ion-content>
