<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            Produtos
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list class="list__content">
        <ion-item *ngFor="let product of products" (click)="goToForm(product.id)">
            <div class="list__content-title">{{ product.name }}</div>
            <div class="list__content-side" item-end>{{ product.price | currency:'BRL':'R$' }}</div>
        </ion-item>

        <ion-item *ngIf="products.length == 0">
            <div class="list__content-description">Nenhum produto encontrado</div>
        </ion-item>
    </ion-list>
</ion-content>
