page-login {

    .item-input {
        
        > .item-inner {
            border-bottom: 1px dashed #FFF !important;
            box-shadow: none !important;
            padding: 0 !important;

            > .input-wrapper {

                > ion-label {
                    margin: 2rem 0 0;

                    > button {
                        font-style: italic;
                    }
                }
            }
        }
    }
}
