<ion-header>
    <ion-navbar>
        <ion-buttons left>
            <button ion-button color="light" (click)="dismiss()">
                <ion-icon name="arrow-back"></ion-icon>
            </button>
        </ion-buttons>

        <ion-title *ngIf="product">{{ product.name }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-grid *ngIf="product" class="grid-container">
        <ion-row>
            <ion-col col-12>
                <div class="grid__title">{{ product.name }}</div>

                <product-ingredients-list customClass="grid__list"
                                          [ingredients]="product.ingredients"></product-ingredients-list>

                <ion-grid>
                    <ion-row justify-content-between align-items-center>
                        <ion-col>
                            <div class="grid__footer">{{ product.price | currency:'BRL':'R$' }}</div>
                        </ion-col>
                        <ion-col>
                            <div class="grid__title-side">{{ product.experience }}
                                <small>XP</small>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
