<ion-header>
    <ion-navbar>
        <ion-buttons left>
            <button ion-button color="light" (click)="dismiss()">Voltar</button>
        </ion-buttons>

        <ion-title>Produto</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-grid *ngIf="product" class="grid-container">
        <ion-row>
            <ion-col col-12>
                <ion-grid>
                    <ion-row justify-content-between>
                        <ion-col col-9>
                            <div class="grid__title">{{ product.name }}</div>
                        </ion-col>
                        <ion-col col-3>
                            <div class="grid__title-side">{{ product.experience }}EXP</div>
                        </ion-col>
                    </ion-row>
                </ion-grid>

                <ul class="grid__list">
                    <li *ngFor="let item of product.ingredients; let i = index">
                        {{ i == product.ingredients.length - 1 && i != 0 ? ' e ' : '' }}{{ item.ingredient.name }}{{
                        item.ingredient.allergenic ? ' (Alergênico)' : '' }}{{ i < product.ingredients.length - 2 ? ',' : ''
                        }}{{ i == product.ingredients.length - 1 ? '.' : '' }}
                    </li>
                </ul>

                <div class="grid__footer">{{ product.price | currency:'BRL':'R$' }}</div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
